.entrada{
    width:75%;
    margin-left:10%;
}
#titulo{
    font-family:'calibri light';
    font-size:37px;
    background:linear-gradient(to bottom,#69E8B2 0%,#8FF4C9 100%);  
    color:black;
    padding-top:30px;
    top:-20px;
    position:relative;
    border-color:#1B3280;
    text-align:center;
   
}
#divAvatar{
    margin-left:8%;
}
#imgUsuario{
    height:163px;
   
}
#btnGuardarImg{
margin-left:2%;
}
#textPrivilegios{
margin-left:10%;
}
#privilegios{
margin-left:10%;
}
#btnGuardar{
    margin-left:10%;
    
}

.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
    margin-right:35px;

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.025);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.025);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.025);
}