body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
   /* display: flex;*/
}

#menu {
    background-color:lightgrey;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    text-align:center;
}

#cuerpo {
    background-color: #2c3e50;
    /*width: calc(100% - 200px);*/
    width:100%;
}

#titulo {
    font-size: 24px;
    height: 60px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    padding-top:15px;
}

#item_menu {
    height: calc(100% - 60px);
    overflow: auto
}

.item {
    border: 1px solid #1abc9c;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    margin-bottom: 2px;
    font-size: 14px;
    color: #16a085;
}

    .item:hover {
        background-color: #69E8B2;
        color: white;
    }
